---
const personalImageAlt = "Jeifher Fuentes";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy Jeifher Fuentes, nacido entre los paisajes cálidos y coloridos
      de La Guajira y convencido de que la tecnología es una forma de arte. La
      curiosidad me llevó a formarme como <strong>técnico en desarrollo de software con
      énfasis en aplicaciones móviles</strong>, pero la aventura no se quedó ahí:
      disfruto igual dando vida a interfaces con <strong>React y Flutter</strong> que armando la
      lógica que las sostiene con <strong>Java Spring, Node y bases de datos SQL o
      NoSQL.</strong>
    </p>

    <p>
      Fuera del código me encontrarás corriendo detrás de un balón de fútbol,
      inmerso en alguna campaña cooperativa de videojuegos o compartiendo un
      buen café mientras converso sobre películas, música o las últimas
      tendencias tech. Creo en las <strong>ideas que resuelven problemas reales</strong> y en los
      equipos que celebran la creatividad tanto como la rigurosidad técnica. Si
      algo me define es la mezcla de disciplina y entusiasmo: <strong>aprendo rápido, me
      adapto a nuevos retos</strong> y siempre busco que cada proyecto—grande o
      pequeño—<strong>tenga un impacto positivo y humano.</strong>
    </p>

    <!-- <p>
      Comencé mi camino en el mundo del software hace casi tres años, y durante este tiempo he tenido la oportunidad de aprender sobre <strong> Programación Orientada a Objetos (POO), patrones de diseño, arquitecturas limpias y testing. </strong> Aunque he explorado varias áreas del desarrollo, mi inclinación natural es hacia el frontend, donde puedo combinar mi amor por el arte con la creación de interfaces atractivas e intuitivas. Sin embargo, también disfruto de los retos del backend, que tiene su propio encanto.
    </p>

    <p>
      Mi stack tecnológico favorito incluye <strong> Java con Spring, React, PostgreSQL, Flutter, Firebase y MongoDB.</strong> Me entusiasma trabajar en proyectos que me permitan seguir explorando y aplicando estas tecnologías, aportando tanto en el desarrollo visual como en la estructura interna de las aplicacion.
    </p> -->
  </div>
  <img
    width="200"
    height="200"
    src="/frontal.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
