---
 const personalImageAlt = "Jeifher Fuentes"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy Jeifher Fuentes, un desarrollador apasionado por la tecnología y el diseño, originario de la vibrante tierra de la Guajira. Actualmente estoy por finalizar mi formación como <strong> Técnico en Desarrollo de Aplicaciones para Dispositivos Móviles</strong>. Además de mi interés por el desarrollo de software, disfruto jugar fútbol y videojuegos en mi tiempo libre.
    </p>

    <p>
      Comencé mi camino en el mundo del software hace casi tres años, y durante este tiempo he tenido la oportunidad de aprender sobre <strong> Programación Orientada a Objetos (POO), patrones de diseño, arquitecturas limpias y testing. </strong> Aunque he explorado varias áreas del desarrollo, mi inclinación natural es hacia el frontend, donde puedo combinar mi amor por el arte con la creación de interfaces atractivas e intuitivas. Sin embargo, también disfruto de los retos del backend, que tiene su propio encanto.
    </p>

    <p>
      Mi stack tecnológico favorito incluye <strong> Java con Spring, React, PostgreSQL, Flutter, Firebase y MongoDB.</strong> Me entusiasma trabajar en proyectos que me permitan seguir explorando y aplicando estas tecnologías, aportando tanto en el desarrollo visual como en la estructura interna de las aplicacion.
    </p>
  </div>
 <img width="200" height="200" src="/frontal.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>
