---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
{
  "date": "2024 – 2025",
  "title": "Desarrollador De Software",
  "company": "Pragma S.A",
  "description": "Durante mi etapa en Pragma S.A trabajé como desarrollador backend y full-stack en varios productos críticos: construí el backend de microservicios para una plazoleta de comidas (Java + Spring Boot, MySQL/Mongo, Twilio), añadí nuevas funcionalidades y solucioné bugs en una plataforma de reclutamiento y onboarding (Java Spring, Node/TypeScript en AWS Lambda, React) y participé en la puesta en marcha de una infraestructura cloud escalable en AWS (ECS, API Gateway, RDS, SQS/SNS, Docker, CloudFormation), apoyando además la automatización de pipelines CI/CD. Esta combinación de desarrollo de funcionalidades, integración de servicios en tiempo real y despliegue de entornos cloud me permitió entregar soluciones seguras, estables y fáciles de mantener, al tiempo que colaboraba con equipos multidisciplinarios para mejorar continuamente la calidad y la velocidad de entrega del software."
},
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
