---
const personalImageAlt = "Jeifher Fuentes"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/perfil.webp"
      alt={personalImageAlt}
    />
    <a
      href="www.linkedin.com/in/jeifherfuentes"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Jeifher
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>Desarrollador de Software</strong> con más de <strong>1 año de experiencia</strong>, orgullosamente de <strong>La Guajira, Colombia</strong>. Especializado en el desarrollo de <strong>aplicaciones móviles</strong>, con un enfoque en crear soluciones funcionales y estéticamente atractivas. Combino mis conocimientos en <strong>frontend</strong> y <strong>backend</strong> para ofrecer productos completos y de calidad.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:jeifherfuentesb@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/jeifher-isaac-fuentes-benavides-755071238/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
